<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="form" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="enter your name">
        <input type="number" name="age" placeholder="enter your age">
        <input type="submit">
    </form>
    {{ data }}
    {{ age }}
    <form action="fars" method="post">
        {% csrf_token %}
        <input type="text" name="fname" placeholder="enter your name">
        <!-- have to add the fname in POST[fname] inside the variable in function -->
        <input type="text" name="fage" placeholder="enter your name">
        <input type="submit">
    </form>
</body>
</html>